building.a.smart.bin.system.with.AI-main/Chapter*/*.aux
building.a.smart.bin.system.with.AI-main/thesis.aux
building.a.smart.bin.system.with.AI-main/thesis.lof
building.a.smart.bin.system.with.AI-main/thesis.log
building.a.smart.bin.system.with.AI-main/thesis.lot
building.a.smart.bin.system.with.AI-main/thesis.pdf
building.a.smart.bin.system.with.AI-main/thesis.synctex.gz
building.a.smart.bin.system.with.AI-main/thesis.toc
